@page "/{text}"
@using server.Data
@inject UnityService UnityService

<h1>@WebText</h1>

@code {
    [Parameter]
    public string Text { get; set; }
    public string WebText = "";

    protected override void OnInitialized()
    {
        Text = Text ?? "none";

        UnityService.SendMessage(Text);
        WebText = "Unity was sent the command \"" + Text + "\".";
    }
}